<nav>
	<div class="content">		
		<img src="{{profile_picture}}">
		<p>@{{username}}</p>
  	</div>
 	<a href="/logout">Logout</a>
</nav>
<h1 class="title">Your tweets</h1>
<div id="tweets">
	{{#each tweets}}
		<div class="tweet" id="{{id}}">
		  <p class="text" id="{{id_str}}">{{text}}</p>
		  <span class="date">{{created_at}}</span>
		  <a href="#" class="delete"><i class="fa fa-trash"></i></a>
		</div>
	{{/each}}
</div>

<div id="link">
	<a id="plus" href="#">
	  <span>+</span>
	</a>
</div>

<div class="layer new">
	<div class="content">
		<a href="#" class="newTweet-cancel"><i class="fa fa-times"></i></a>
		<form class="newTweet">
			<textarea type="text" class="tweet-status" placeholder="What's up ?" ></textarea>
			<button type="submit" class="tweet-button"><i class="fa fa-pencil-square-o"></i></button>
		</form>
	</div>
</div>

<div class="layer ask">
	<div class="content">
		<h2>Are you sure ?</h2>
		<a href="#" class="yes">YES</a>
		<a href="#" class="no">NO</a>
	</div>
</div>